body{
	background-color: #f8dfdb
}
.container{
	position: relative;
	text-align: center;
	color: white;
}
.center{
	position: absolute;
	top: 8px;
	left:670px;
}
.left{
	position: absolute;
	top:8px;
	right:2%;
	color: #000066;	 
}
.m{
	position: absolute;
	top: 55px;
	left:450px;
	font-size: 55px;
	word-wrap: break-word;
	width: 650px;
}
.n{
	position: absolute;
	top: 540px;
	left:470px;
	font-size: 18px;
	word-wrap: break-word;
	width: 600px;
}
img{
	height: 725px;
	width: 1510px;
	box-sizing: border-box;
	top: 1px;
	left:0px;
}
.bn{
	position: relative;
	text-align: center;
	color: white;
}
.bg{
	position: absolute;
	top: 10px;
	left: 210px;
	width: 180px;
	height: 70px;
	word-wrap: break-word;
	background-color: #fff;
	border: 1px solid black;
}
.button{
	position: absolute;
	top: -3px;
	left: 215px;
	font-size: 16px;
	word-wrap: break-word;
	width: 170px;
	height: 85px;
	color: red;
}
.mid1{
	position: relative;
	text-align: center;
	color: #ff0000;
	top: 200px;
	font-size: 25px;
	left: 50%;
}
.mid2{
	position: relative;
	text-align: center;
	color: #000000;
	top: 220px;
	font-size: 20px;
	left: 50%;
}
a.link{
	background-color: red;
}