*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #f8dfdb;
	color: #fff;
}
.container{
	position: relative;
}
.center{
	position: absolute;
	top: 8px;
	left:50%;
}
.left{
	position: absolute;
	top:8px;
	left: 99%;
	color: #000066;	 
}
.m{
	position: absolute;
	top: 90px;
	left:35%;
	font-size: 55px;
	word-wrap: break-word;
	width: 650px;
	text-align: center;
}
.n{
	position: absolute;
	top: 540px;
	left:38%;
	font-size: 18px;
	word-wrap: break-word;
	width: 600px;
}
img{
	height: 1000px;
	width: 1500px;
}
.bn{
	position: relative;
	text-align: center;
	color: white;
}
.bg{
	position: absolute;
	top: 10px;
	left: 210px;
	width: 180px;
	height: 70px;
	word-wrap: break-word;
	background-color: #fff;
	border: 1px solid black;
}
.button{
	position: absolute;
	top: 18px;
	left: 215px;
	font-size: 16px;
	word-wrap: break-word;
	width: 170px;
	height: 85px;
	color: red;
}
.mid1{
	position: relative;
	text-align: center;
	color: #ff0000;
	top: 200px;
	font-size: 25px;
	left: 50%;
}
.mid2{
	position: relative;
	text-align: center;
	color: #000000;
	top: 220px;
	font-size: 20px;
	left: 50%;
}
a:link{
	background-color: red;
}
a:hover{
	background-color: green;
}
a:visited{
	background-color: red;
}
a:active{
	background-color: blue
}